<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <body>
        
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Username</a>
      <ul class="right">
        <li><a href="collapsible.html"><i class='material-icons '>input</i>Logout</a></li>
      </ul>
    </div>
  </nav>
        <div class='row' >
        <div class='col-lg-2' style='top:15px'>
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" onclick=loadHtml('profile')>Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" onclick=loadHtml('queries')>Queries</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" onclick=loadHtml('chatrequests')>Chat requests</a>
                </li>
              </ul>
        </div>
        <div class="col-lg-10" id='rightPane'></div>
        
  </div>
  
  
  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
      <div class="modal-content">
            <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
          <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
        </div>
            <div class="modal-body">
            <div class="form-group">
          <input class="form-control " type="text" placeholder="Mohsin">
          </div>
          <div class="form-group">
          
          <input class="form-control " type="text" placeholder="Irshad">
          </div>
          <div class="form-group">
          <textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>
      
          
          </div>
        </div>
            <div class="modal-footer ">
          <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
        </div>
          </div>
      <!-- /.modal-content --> 
    </div>
        <!-- /.modal-dialog --> 
      </div>
        </div>
        </div>
    </body>
<script>
  function loadHtml(option){
    if (option=='profile'){
      $("#rightPane").load("faculityprofile");
    }
    else if (option=='queries'){
      $("#rightPane").load("faculitymanagequeries");
    }
    else if(option == 'chatrequests'){
      $("#rightPane").load("faculitymanagechats");
    }
    
  }

</script></html>