<a style=margin:15px class="waves-effect waves-light btn"><b>Add</b></a>
       
         
            <div class="table-responsive">

                
                <table id="mytable" class="responsive-table centered stripped">
                     
                     <thead style='background-color: #26a69a; color: white '>
                     
                     <th>Student Name</th>
                        <th>Status</th>
                     </thead>
      <tbody>
      
        <tr>
          <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
          <td>
            <a class="waves-effect waves-light btn">Waiting</a></td></tr><tr>
              <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
              <td>
                <a class="waves-effect waves-light btn">Waiting</a></td></tr><tr>
                  <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                  <td>
                    <a class="waves-effect waves-light btn">Waiting</a></td></tr><tr>
                      <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                      <td>
                        <a class="waves-effect waves-light btn">Waiting</a></td></tr><tr>
                          <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                          <td>
                            <a class="waves-effect waves-light btn">Waiting</a></td></tr><tr>
                              <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                              <td>
                                <a class="waves-effect waves-light btn">Waiting</a></td></tr>      </tbody>
          
  </table>
  
  <div class="clearfix"></div>
  <ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
                  
              </div>
              
      </div>