
{%load static%}
<!DOCTYPE html>
<html>

<body>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        
    <div id="box1">
       
    <form action='adm_login' method="GET"><div id="hed"><h3>  LOGIN YOUR ACCOUNT </h3></div>
        
        <div id="data"><input name='username' id='username' type='text'placeholder='username' required><br><br><br>
        <input name='password' id='password' type='password' placeholder='password' required><br><br><br><br>
    
        <button id="but1" type="submit"  name="login">LOGIN</button><h4>{{data}}</h4>
        
    </div>
    </form>
     </div>
    
</body>
</html>