<!DOCTYPE html>
<html>
    <body>
        <table>
            <tr><th><h2>ID</h2></th><th><h2>NAME</h2></th><th><h2>EMAIL</h2></th><th><h2>PASSWORD</h2></th><th><h2>SPECIALIZATION</h2></th><th><h2>PHONE</h2></th></tr>
            
                {% for doctor in doctors %}
                <tr>
                    {% for data in doctor %}
                    <td>{{data}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
        </table><br><br>
    </body>
</html>