<div class="hiddediv" id="addDoctor" style="display: none;">
    
    Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="addnameD" id="addnameD" required><br>
    Password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="addpassworD" id="addpasswodrdD" required><br>
    Email  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="addemailD" id="addemailD" required><br>
    Phonenumber &nbsp;<input name="addphoneD" id="addphoneD" required><br>
    Specialist &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="addspecialistD"  id="addspecialistD" required><br>
    <button id="ajaxBtn">add</button>
</div>