
<html>
    
    <body>
        
        <h1>Hello, {{patient.1}}</h1>
        <div id="div1">
        
            <input type='hidden' id='email' name='email' value='{{patient.email}}' />
            <h5>Username : &nbsp;&nbsp;<input id='username' name='username' value='{{patient.1}}'>
                            </h5>
        
        
            <h5>Phone : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input id='phone' name='phone' value='{{patient.4}}'>
            </h5>
        
        
            <h5>Password : <input name='password' id='password' value='{{patient.2}}'>
            </h5>
        
        <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button id='update' onclick="send_update()" name="update" type="submit">UPDATE</button>
        <br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button id='logout' onclick=logout() name=logout> LOGOUT</button>
        <button id='home' onclick=backhm() name=home> HOME</button>
        <script>
            email='{{patient.email}}'
            
            function send_update(){
                patientname=document.getElementById('username').value 
                phone=document.getElementById('phone').value 
                password=document.getElementById('password').value
            }
        </script>
    </div>
    </body>
</html>