{% extends 'adminLeftPane.html' %}
<html>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <body>
      <div  class='row'>

     <div style='background-color: green' class:'col-*-4'>
          {% block leftPane %}

          {% endblock %}
      </div>  
      <div bgcolor='green' class='col-*-8'>

      </div>
    </div>
    </body>
</html>